.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

/* Remove dropdown arrow from bootstrap dropdown toggles */
.dropdown-toggle::after {
  display: none !important;
}

.table-container {
  height: 17rem;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.data-th {
  position: sticky;
  top: 0;
}

.data-tr {
  scroll-snap-align: end;
}